@media screen and (max-width: 768px) {
    body {
        background-color: rgb(33, 34, 34);
        overflow-y: hidden;
    }

    .topContainer {
        display: inline-block;
        letter-spacing: 1pt;
        margin-left: 2vw;
        padding: 0;
    }
    p::first-letter{
        font-size: 20pt;
    }
    ol{
        background-color: transparent;
    }
    #home .nameTitle{
        font-size: 63px;
        top: 15vh;
        left: -7px;
    }
    #home {
        overflow-y: hidden;
    }
}
/* 400px width */
@media screen and (max-width: 455px) {
    body {
        overflow-y: hidden;
    }
    .topContainer {
        display: flex;
        flex-direction: column;
        letter-spacing: 1px;
        margin:0;
        padding: 0;
    }
    .banner{
        font-size: 1rem;
        display: inline !important;
        justify-content: center;
        padding-left: 1em;
        letter-spacing: 1px !important;
        margin: 1rem ;
        margin-left: 2rem !important;
        max-width: 30vw;
    }
    .bio{
        font-kerning: normal;
        margin-top: 2rem;
    }
    .profile{
        
    }
    ol{

        /* background-color: transparent; */
    }
    #home .nameTitle {
        font-size: 30px;
        top: 30vh;
        left: -20px;
    }
}