@media screen and (max-width: 768px) {
    body {
        background-color: rgb(33, 34, 34);
        overflow-y: hidden;
    }

    .topContainer {
        display: inline-block;
        letter-spacing: 1pt;
        margin-left: 2vw;
        padding: 0;
    }
    p::first-letter{
        font-size: 20pt;
    }
    ol{
        background-color: transparent;
    }
    #home .nameTitle{
        font-size: 63px;
        top: 15vh;
        left: -7px;
    }
    #home {
        overflow-y: hidden;
    }
    hr{
        display: none;
    }
    @keyframes hrMove{
        0%{
            width: 0vw;
            
        }
        100%{
            width: 70vw;
        }
    }
    
}
/* 400px width */
@media screen and (max-width: 455px) {
    body {
        overflow-y: hidden;
    }
    .topContainer {
        display: flex;
        flex-direction: column;
        letter-spacing: 1px;
        margin:0;
        padding: 0;
    }
    /* .banner{
        font-size: 1rem;
        display: inline !important;
        justify-content: center;
        padding-left: 1em;
        letter-spacing: 1px !important;
        margin: 1rem ;
        margin-left: 2rem !important;
        max-width: 30vw;
    } */
    .bio{
        font-kerning: normal;
        margin-top: 2rem;
    }
    /* .profile{
        position: relative;
        right: 0;     
        left: 0;        
        display: flex !important;       
        top: 0;        
        bottom: 0;        
        padding: 0 !important;
        justify-content: center;
        margin-left: 2rem;
    } */
    #myPic{
        display: flex;
        filter: opacity(94%);
        border-radius: 10px;
        padding: 0;
        min-width: 43%;
        max-width: 45%;
    }
    #home .nameTitle {
        font-size: 30px;
        top: 30vh;
        left: -20px;
    }
    hr{
    display: none;
    }
}