#skills {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
    /* background-color: rgb(106, 206, 206); */
    background-image: linear-gradient(50deg, #111111, #060612);
} 
