@media screen and (max-width: 770px) {
    body {
        background-color: rgb(33, 34, 34);
    }

    .topContainer {
        display: inline-block;
        letter-spacing: 1pt;
        margin-left: 2vw;
        padding: 0;
    }
    p::first-letter{
        font-size: 20pt;
    }
}
/* 400px width */
@media screen and (max-width: 455px) {
    .topContainer {
        display: flex;
        flex-direction: column;
        letter-spacing: 1px;
        margin:0;
        padding: 0;
    }
    .banner{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        padding-left: 1em;
        letter-spacing: 1px !important;
        margin: 1rem ;
        max-width: 30vw;
    }
    .bio{
        font-kerning: normal;
        margin-top: 2rem;
    }
}